{% extends 'base.html' %}
{% load static %}


{% block styles %}
<link rel="stylesheet" href="{% static 'css/edit_profile.css' %}">
{% endblock styles %}

{% block content %}
<section id="section" class="my-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form method="post" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="edit_form">
                                <h3 class="mb-3">Редагування профілю</h3>
                                {{ doctor_form.as_p }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="org_form">
                                <h3 class="mb-3">Інформація про організацію</h3>
                                {{ org_form.as_p }} 
                            </div>
                            <div class="address_form">
                                <h3 class="mb-3">Адреса організації</h3>
                                {{ address_form.as_p }}
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Зберегти зміни</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}