{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DiaScreen - реєстрація користувачів</title>
    <link rel="stylesheet" href="{% static 'css/reset.css'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/login.css'%}">
</head>
<body>
    <main>
        <section class="option__choice">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1 class="fs-2">Реєстрація</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-12 text-left">
                        <a class="nav-link" href="{% url 'home' %}"><span>
                            <img src="{% static 'img/arrow-left.svg' %}" alt="Стрілка повернення на головну">
                        </span>Повернутися на головну сторінку</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-left">
                        <button class="btn btn-primary patient__choice">
                            Я пацієнт
                        </button>
                    </div>
                    <div class="col-md-6 text-left">
                        <button class="btn btn-danger doctor__choice">
                            Я лікар
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <section class="form-section vh-100" id="patientForm">
            <div class="container align-items-center vh-100">
                <div class="row">
                    <div class="col-12"> 
                        <div class="patientform__background">
                            <form method="post">
                                {% csrf_token %}
                                <fieldset>
                                    <legend>Інформація про аккаунт</legend><hr>
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <label for="username">Логін</label>
                                            <input type="text" class="form-control" id="username" name="username" required>
                                            <div class="invalid-feedback">
                                                Неправильний логін користувача
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="email">Пошта</label>
                                            <input type="email" class="form-control" id="email" name="email" required>
                                            <div class="invalid-feedback">
                                                Введіть коректний email
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <label for="password">Пароль</label>
                                            <input type="password" class="form-control" id="password" name="password" required>
                                            <div class="invalid-feedback">
                                                Ви ввели некоректний пароль
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="password2">Підтвердження пароля</label>
                                            <input type="password" class="form-control" id="password2" required>
                                            <div class="invalid-feedback">
                                                Паролі не співпадають
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend>Інформація про пацієнта</legend><hr>
                                    <div class="row">
                                        <div class="col-md-4 mb-3">
                                            <label for="username">Прізвище</label>
                                            <input type="text" class="form-control" id="last_name" name="last_name" required>
                                            <div class="invalid-feedback">
                                                Placeholder
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="first_name">Ім'я</label>
                                            <input type="text" class="form-control" id="first_name" name="first_name" required>
                                            <div class="invalid-feedback">
                                                Placeholder
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="patronymic">По-батькові</label>
                                            <input type="text" class="form-control" id="patronymic" name="patronymic">
                                            <div class="invalid-feedback">
                                                Placeholder
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 mb-3">
                                            <label for="phone_number">Номер телефону</label>
                                            <div class="input-group">
                                                <span class="input-group-text" id="addon-wrapping">+38</span>
                                                <input type="phone" class="form-control" id="phone_number" name="phone_number" aria-describedby="addon-wrapping">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 mb-3">
                                            <label for="sex">Оберіть вашу стать</label>
                                            <select id="sex" class="form-select" name="sex">
                                                <option value="Male">Чоловіча</option>
                                                <option value="Female">Жіноча</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="date_of_birth">Введіть дату народження</label>
                                            <input type="date" class="form-control" id="date_of_birth" name="date_of_birth">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2 mb-3">
                                            <label for="height">Зріст (в метрах)</label>
                                            <input type="text" class="form-control" id="height" name="height">
                                            <div class="invalid-feedback">
                                                Некоректно введений зріст
                                            </div>
                                        </div>
                                        <div class="col-md-2 mb-3">
                                            <label for="weight">Вага (в кг)</label>
                                            <input type="text" class="form-control" id="weight" name="weight">
                                            <div class="invalid-feedback">
                                                Некоректно введена вага
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="diabet_type">Тип діабету</label>
                                            <select id="diabet_type" class="form-select" name="diabet_type">
                                                <option value="null">Відсутній</option>
                                                <option value="1">1 тип</option>
                                                <option value="2">2 тип</option>
                                            </select>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend>Адреса ( не обов'язково до заповнення )</legend><hr>
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            
                                        </div>
                                    </div>
                                </fieldset>
                                <button class="btn btn-primary" type="submit">Submit form</button>
                            </form>
                            {% if form.username.errors %}
                                <div class="alert alert-danger">
                                {{ form.username.errors }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="../../static/js/validation.js"></script>
    <script src="../../static/js/login.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
</body>
</html>