{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DiaScreen - реєстрація користувачів</title>
    <link rel="stylesheet" href="{% static 'css/reset.css'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/registration.css'%}">
</head>
<body>
    <main>
        {% block content %}
        <section class="option__choice" id="options">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1 class="fs-2">Реєстрація</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-12 text-end">
                        <a class="nav-link" href="{% url 'home' %}"><span>
                            <img class="link-to-main" src="{% static 'img/arrow-left.svg' %}" alt="Стрілка повернення на головну">
                        </span>Повернутися на головну сторінку</a>
                    </div>
                    <div class="col-md-6 col-12 text-start">
                        <a class="nav-link" href="{% url 'login' %}">В мене вже є аккаунт
                        <span>
                            <img class="link-to-login" src="{% static 'img/arrow-right.svg' %}" alt="Стрілка вправо для логіну">
                        </span></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <a href="{% url 'patient_register' %}" id="patient__btn" class="btn btn-primary patient__choice">
                            Я пацієнт
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="{% url 'doctor_register' %}" id="doctor__btn" class="btn btn-danger doctor__choice">
                            Я лікар
                        </a>
                    </div>
                </div>
            </div>
        </section>
        {% endblock content %}
    </main>
</body>
</html>