{% extends 'login/login.html'%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Відновлення паролю</title>
</head>
<body>
    {% block content %}
    <main>
        <section class="section" id="section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="mb-3 text-center">Відновлення паролю</h2>
                        <p class="mb-3 text-center fs-5">На вказану електронну пошту було відправлено повідомлення з інструкціями
                            по відновленню паролю.
                        </p>
                        <p class="mb-3 text-center fs-5">Воно прийде найближчим часом, якщо вказана пошта зареєстрована</p>
                        <p class="mb-3 text-center fs-5">Якщо Ви не отримали електронного листа, переконайтеся, будь ласка, в зареєстрованій адресі і перевірте папку "Спам".</p>
                        <div class="row">
                            <div class="col-md-6 text-end">
                                <a href="{% url 'login' %}" class="btn btn-primary">До входу</a>
                            </div>
                            <div class="col-md-6">
                                <a href="{% url 'home' %}" class="btn btn-primary">На головну</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% endblock content %}
</body>
</html>