{% extends 'login/login.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Зміна паролю</title>
</head>
<body>
    {% block content %}
    <main>
        <section id="section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="text-center mb-3">Зміна паролю</h2>
                        <p class="text-center mb-3 fs-6">Вкажіть вашу електронну пошту на яку буде вислано посилання на зміну паролю</p>
                        <div class="form__background mb-5">
                            <form method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="btn btn-primary">Відновити пароль</button>
                                <a href="{% url 'login' %}" class="btn btn-primary">Логін</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% endblock content %}
</body>
</html>