{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/chat.css' %}">
{% endblock styles %}

{% block content %}
<section id="section" class="my-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <h2 class="text-center">Чат з користувачем {{ receiver.username }}</h2>
            </div>
            <div class="col-12 text-center">
                <div class="message_box" id="chat-container">
                    
                </div>
                <form id="message-form">
                    {% csrf_token %}
                    <input type="hidden" id="sender-id" value="{{ sender_id }}">
                    <input type="hidden" id="receiver-id" value="{{ receiver_id }}">
                    <input type="hidden" id="current-user-id" value="{{ request.user.id }}">
                    <textarea id="message-text" placeholder="Введіть повідомлення"></textarea>
                    <button class="btn btn-primary text-end" type="submit">Відправити повідомлення</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    const csrfToken = "{{ csrf_token }}";
    const senderId = "{{ sender_id }}";
    const receiverId = "{{ receiver_id }}"
</script>
<script src="{% static 'js/chat.js' %}"></script>
{% endblock scripts %}