body{
    background-color: #D2E8FF;
}

.container{
    max-width: 1680px;
    margin: 0 auto;
    padding: 0 30px;
}

.option__choice{
    height: 100vh;
    padding-top: 50px;
}

.nav-link{
    margin-top: 50px;
}

.patient__choice, .doctor__choice{
    margin-top: 20px;
    width: 100%;
    height: 400px;
}

.patientform__background{
    background-color: white !important;
    padding: 20px;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid black;
}

form input{
    width: 60%;
}