html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}


#section {
    flex: 1;
}


.profile-link{
    text-decoration: none;
    color: black;
}

.profile__img{
    width: 400px;
    height: 400px;
}

footer {
    margin-top: auto;
}

.org-img {
    width: 200px;
    height: auto; 
}

.feedback-form-section input[type="text"],
.feedback-form-section textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.hidden-text{
    display: none;
}

.two-auth_block{
    padding: 20px;
    background-color: rgb(245, 82, 82);
    opacity: 0.9;
}

.two-auth_block p{
    font-weight: bold;
    font-size: 18px;
}

