html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}


#section {
    flex: 1;
}

.footer{
    margin-top: auto;
}

.meas__section {
    background-color: bisque;
    min-height: 800px;
}

.card_nav__item {
    margin-bottom: 10px;
    text-align: center;
}

.card__link {
    display: block; 
    padding: 10px; 
    background-color: #4169E1;
    color: white;
    text-decoration: none;
}

.card__link:hover {
    background-color: purple;
    color: black;
}

.form-control {
    margin-bottom: 15px;
}


.meas__list{
    margin-top: 5px;
    width: 400px;
}

.category-block {
    display: inline-block;
    padding: 5px 10px;
    background-color: #ffcc00;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
}

.glucose-block {
    display: inline-block;
    padding: 5px 10px;
    background-color: #00aaff;
    border-radius: 5px;
    margin-right: 10px;
}

.time-block {
    display: inline-block;
    padding: 5px 10px;
    background-color: #ff6666;
    border-radius: 5px;
    margin-right: 10px;
}