.body{
    background-color: #D2E8FF;
}

#header{
    background-color: #4169E1;
    padding: 25px 0 25px 0;
}

#logo{
    font-size: 35px;
}

.container{
    max-width: 1680px;
    margin: 0 auto;
    padding: 0 30px;
}

#logo{
    color: #fff;
}

.nav-link{
    color:#fff;
}

.nav-link:hover{
    opacity: 1;
}


.header__button{
    color: black;
    background-color: #4191E1;
}


.section__promo{
    min-height: 400px;
    background-image: url('../img/fon.png');
    background-attachment: fixed;
    background-size: contain;
}

.promo__text{
    margin-top: 20px;
    font-size: 30px;
}

.promo__button{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50%;
    margin-top: 30px;
}

.promo__img{
    height: auto;
    max-width: 100%;
}

.guide__card{
    width: 18rem;
    border: 1px solid #4169E1;
    transition: transform 0.3s ease;
}

.guide__card:hover{
    transform: translateY(-20px); 
    box-shadow: 0 40px 8px 10px rgba(0, 0, 0, 0.1);
}

.step__card__svg{
    width: 45px;
    height: 45px;
    margin-bottom: 10px;
}








#footer{
    background-color: #2D659D;
    padding: 25px 0 25px 0;
}

.footer__column{
   align-items: start;
   text-align: left;
}

.footer__link{
    font-size: 20px;
    display: inline-block;
    color: #fff; 
    line-height: 1;
    text-decoration: none; 
    cursor: pointer;
}
.footer__link:after {
    background-color: #4191E1; 
    display: block;
    content: "";
    height: 2px; 
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
.footer__link:hover:after,
.footer__link:focus:after {
    width: 100%;
}