html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

#section {
    flex: 1;
}

footer {
    margin-top: auto;
}

input,
select {
    display: block;
    width: 100%;
    padding: 8px;
    height: 40px;
    margin: 6px 0;
    border: 1px solid #ced4da; 
    border-radius: 4px; 
    box-sizing: border-box;
}

input[type="radio"] {
    display: inline-block;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px; /* Ширина */
    height: 20px; /* Висота */
    border: 2px solid #ccc; /* Товщина та колір рамки */
    border-radius: 50%; /* Закруглення кутів для створення круглих радіокнопок */
    outline: none; /* Видаляємо рамку фокусу */
    cursor: pointer; /* Змінюємо курсор при наведенні */
    vertical-align: middle; /* Вирівнюємо по вертикалі */
    margin-right: 5px; /* Додатковий відступ з правого боку */
  }
  
  /* Стилі для вибраних радіокнопок */
  input[type="radio"]:checked {
    background-color: #007bff; /* Змінюємо колір фону для вибраних радіокнопок */
    border-color: #007bff; /* Змінюємо колір рамки для вибраних радіокнопок */
  }


  .filter__form{
    margin-top: 20px;
  }

  .filter__title{
    margin-top: 10px;
  }

  .doctor-link{
    text-decoration: none;
    color: black;
  }

  .card a {
    color: inherit; 
    text-decoration: none;
}

  .card a:hover {
    color: inherit; 
  }