{% extends 'login/login.html' %}
{% load static %}

{% block content %}
    <main>
        <section id="section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="text-center mb-3">Зміна паролю</h2>
                        <div class="form__background mb-5">
                            <form method="post">
                                <div class="form__errors">
                                    {{ form.errors }}
                                </div>
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="btn btn-primary form__button">Змінити мій пароль</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}