{% extends 'login/login.html' %}
{% load static %}

{% block content %}

<main>
    <section class="section" id="section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="mb-3 text-center">Відновлення паролю</h2>
                    <p class="mb-3 text-center fs-5">Пароль відновлено успішно. Тепер ви можете авторизуватися з новим паролем.
                    </p>
                    <div class="row">
                        <div class="col-md-6 text-end">
                            <a href="{% url 'login' %}" class="btn btn-primary">До входу</a>
                        </div>
                        <div class="col-md-6">
                            <a href="{% url 'home' %}" class="btn btn-primary">На головну</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock content %}