{% extends 'base.html' %}
{% load static %}


{% block content %}
<section id="section" class="my-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Політика конфіденційності</h1>
                <p class="text-center">Останнє оновлення: 18.05.2024 </p>
                <p class="my-3 fs-5">Нижче описана політика DiaScreen щодо збирання та використання вашої конфіденційної інформації</p>
                <h2 class="text-center">Про інформацію, яку ми збираємо</h2>
                <p class="my-3 fs-5">В додатку DiaScreen ми збираємо таку персональну інформацію: ваше ПІБ, електронна пошта, телефон, вік, стать, тип діабету,
                    ваші записи в картці пацієнта. Дані збираються чесно та законно, з вашого відома та згоди.
                </p>
                <h2 class="text-center">Використання зібраної інформації</h2>
                <p class="my-3 fs-5">Ми використовуємо зібрану інформацію для покращення роботи додатку та для ефективного здійснення функції віддаленого скринінгу
                    від вашого лікаря
                </p>
                <h2 class="text-center">Передача вашої інформації</h2>
                <p class="my-3 fs-5">Ми не передаємо вашу конфіденційну інформацію третім особам, за вийнятком випадків передбачених законом. Також вашу конфіденційну
                    інформацію бачить, але не може змінювати, ваш прив'язаний лікар-ендокринолог. Будь-який інший користувач до неї доступу не має.
                </p>
                <h2 class="text-center">Захист даних</h2>
                <p class="my-3 fs-5">Ми вживаємо можливі заходи для захисту вашої інформації від несанкціонованого доступу, розкриття, зміни або знищення.
                </p>
                <h2 class="text-center">Зв'яжіться з нами</h2>
                <p class="my-3 fs-5">Якщо у вас виникли питання по чинній Політиці конфіденційності DiaScreen, Ви можете звернутися на пошту <strong>danissimo228337@gmail.com</strong>
                або написати в нашу технічну підтримку</p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}