{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/card.css' %}">
{% endblock styles %}

{% block content %}
<section id="section"  class="my-3">
    <div class="container">
        <div class="row">
            <div class="col-md-2 align-self-start text-start">
                <ul class="nav flex-column">
                    <li class="nav-item card_nav__item">
                      <a class="nav-link card__link active" aria-current="page" href="{% url 'patient_card' patient_id %}">Заміри глюкози</a>
                    </li>
                    {% if is_oninsuline %}
                    <li class="nav-item card_nav__item">
                      <a class="nav-link card__link" aria-current="page" href="{% url 'patient_insuline' patient_id=patient_id %}">Записи інсуліну</a>
                    </li>
                    {% endif %}
                    <li class="nav-item card_nav__item">
                      <a class="nav-link card__link" href="{% url 'patient_food' patient_id=patient_id %}">Записи по прийомам їжі та розрахунок ХО</a>
                    </li>
                    <li class="nav-item card_nav__item">
                      <a class="nav-link card__link" href="{% url 'patient_physics' patient_id=patient_id %}">Фізична активність</a>
                    </li>
                    <li class="nav-item card_nav__item">
                      <a class="nav-link card__link" href="{% url 'patient_analysis' patient_id=patient_id %}">Завантаження аналізів</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-10 border meas__section">
            <div class="analyses_block">
            {% for analysis in page_obj %}
                <div class="row my-4">
                    <div class="col-md-12">
                        <div class="analysis_row">
                            <span>{{ analysis.date_of_measurement }}</span>
                            <span>{{ analysis.analysis_type.name }}</span>
                            <a href="{% url 'analysis_download' patient_id=patient_id %}" download>
                                <button type="button">
                                    <img src="{% static 'img/svg/download.svg' %}" alt="Кнопка завантаження аналізу">
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
              {% endfor %}
            </div>
              <div class="row align-self-end">
                  <div class="col-md-12">
                      {% if page_obj.has_other_pages %}
                          <nav aria-label="Page navigation">
                              <ul class="pagination justify-content-center">
                                  {% if page_obj.has_previous %}
                                      <li class="page-item">
                                          <a class="page-link" href="?page=1">&laquo;</a>
                                      </li>
                                      <li class="page-item">
                                          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                                      </li>
                                  {% endif %}
                                  <li class="page-item active" aria-current="page">
                                      <span class="page-link">{{ page_obj.number }}</span>
                                  </li>
                                  {% if page_obj.has_next %}
                                      <li class="page-item">
                                          <a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                                      </li>
                                      <li class="page-item">
                                          <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
                                      </li>
                                  {% endif %}
                              </ul>
                          </nav>
                      {% endif %}
                  </div>
              </div>
              {% if is_patient %}
              <div class="row">
                <div class="col-12">
                    <form id="analysis_drag" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row align_items_center">
                            <div class="col-md-6">
                                {{ type_form.as_p }}
                            </div>
                            <div class="col-md-6">
                                <input id="fileInput" type="file" name="analysis" style="display:none">
                                <div id="dropzone" class="dropzone">
                                    Перетягніть файл сюди або натисніть, щоб вибрати файл
                                </div>
                                <div class="upload_error" id="upload_error">
                                    
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
              </div>
              {% endif %}
          </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/dropdown_hover.js' %}"></script>
<script src="{% static 'js/drag-n-drop-analysis.js' %}"></script>
{% endblock scripts %}